@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes horizontalin {
  from {
    transform: translateX(-100%) scale(2);
    z-index: 3;
    color: rgb(85, 85, 85);
  }
  to {
    transform: translateX(100%) scale(2);
    z-index: 3;
    color: rgb(88, 88, 88);
  }
}

@keyframes verticalin {
  from {
    transform: translateY(-100%) scaleX(700%) scaleY(120%);
    color: rgb(211, 211, 211);
  }
  to {
    transform: translateY(10%) scaleX(700%) scaleY(120%);
    color: rgb(209, 209, 209);
  }
}

html {
height: 100vh;
}

body {
background-color: rgb(255, 239, 229);
height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
position: relative;
padding: 5%
}

header {
position: relative;
border: groove 3px rgb(175, 166, 166)
}

h2 {
font-size: 1.5rem;
}

.mobile-nav {
position: relative;
transform: translateX(-42%) translateY(70%);
}

.icons-container {
position: absolute;
top: 0px;
right: 0px;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
transform: scale(0.75) translateY(-10%);
}

.icons-container-mobile {
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  }

.next-icon {
border-radius: 50%;
}

.rust-icon {
filter: invert(1);
border-radius: 50%;
}

.tailwind-icon {
border-radius: 50%;
overflow: hidden;
transform: scaleX(0.8);
padding: 3px;
border: solid rgb(34, 34, 34) 3px;
}

.react-icon {
animation: rotate 6s linear infinite;
}

.info {
position: relative;
width: 70vw;
height: 80vh;
padding: 15px;
position: relative;
}

.horizontal-tit {
position: absolute;
top: 50px;
font-size: 4rem;
font-family: Arial, Helvetica, sans-serif;
animation: horizontalin 1s linear forwards;
}

li {
transition: 0.4s;
}

li:hover {
color: rgb(88, 130, 192)
}

.vertical-tit {
position: absolute;
left: 150px;
top: 0px;
font-size: 3rem;
font-family: Arial, Helvetica, sans-serif;
animation: verticalin 1s linear forwards;
text-align: center;
font-weight: 900;
}

nav {
position: absolute;
display: flex;
bottom: 10px;
left: 45%;
flex-direction: row;
list-style: none;
gap: 5px;
}

.aboutp {
position: absolute;
font-family: Arial, Helvetica, sans-serif;
transform: translateX(70%) translateY(70%);
}

.rustp {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(70%) translateY(80%);
  }

.tailp {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(90%) translateY(180%);
}

.ramen {
transform: scale(0.75) translateX(-10%) translateY(-105%) rotate(0deg);
filter: drop-shadow(10px 0px 10px rgba(187, 56, 56, 0.7))
        drop-shadow(10px 0px 10px rgba(231, 125, 125, 0.6))
       
}

.ramen-latest {
  transform: scale(0.85) translateX(-10%) translateY(-20%) rotate(0deg);
  filter: drop-shadow(0px 0px 0px 5pxx orange);
  filter: drop-shadow(0px 0px 20px rgba(255, 238, 238, 1))
              
  }

.latest-img {
border: solid 3px goldenrod;
border-radius: 5%;
margin-bottom: 1rem;
transform: scaleX(1.7) translateX(-2%);
box-shadow: 0px 0px 40px 5px rgb(233, 211, 255);
}

.content-latest {
  transform: translateX(50%) translateY(70%) ;
}

.latestp {
font-family: Arial, Helvetica, sans-serif ;
font-size: 1rem;
transform: translate(-6%);
}

.resized {
transform: scale(0.7)
}

footer {
position: relative;
height: 20vh;
display: flex;
flex-direction: column;
transform: translateY(-250%);
z-index: -1;
align-items: center;
color:rgb(88, 88, 88)
}

.contact {
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: relative;
width: 100vw;
height: 80vh;
overflow: hidden;
padding: 15px;
position: relative;
}

.contact div h3 {
margin-left: 2rem;
}

.item-container{

flex-direction: row;
justify-content:flex-end;
align-items: center;
margin-top: 1rem;
padding: 1rem;
}

.items-container {
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 30vw;
height: 50vh;
transform: translateX(80%) translateY(90%);
}

.next-mobile {
transform: translateY(70%);
}